<aside class="sidebar">
  <div class="sidebar-header">
    <h3>Smart PDKS Admin</h3>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="active">
          <lucide-angular name="layout-dashboard"></lucide-angular> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/admin/devices" routerLinkActive="active">
          <lucide-angular name="monitor-smartphone"></lucide-angular> Cihaz Yönetimi
        </a>
      </li>
      <li>
        <a routerLink="/admin/page-builder" routerLinkActive="active">
          <lucide-angular name="layout-template"></lucide-angular> Sayfa Yönetimi
        </a>
      </li>
    </ul>
  </nav>
</aside>
